// Colours

$grey: #cdcdcd;
$lobster: #df614a;
$lime: #b3d330;
$blue: #2185e3;
$ocean: #038072;
$rust: #d0922b;

$spacer-xs: 8px;
$spacer-sm: 15px;
$spacer-md: 36px;
$header-spacer-v: 25px;
$header-spacer-h: 30px;

$transition: all 0.3s ease;