// Layout
@media (min-width: 1600px){
    .container {
        max-width: 1440px;
    }
}

// Typography
body {
    color: black;
    font-size: $fs-p;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
img {
    height: auto;
    max-width: 100%;
}
h1,h2,h3,h4 {
    line-height: 1.4;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
h1 {
    font-size: $fs-h1;
    @media (min-width: 992px) {
        font-size: $fs-h1-lg;
    }
}
h2 {
    font-size: $fs-h2;
    @media (min-width: 992px) {
        font-size: $fs-h2-lg;
    }
}
h3 {
    font-size: $fs-h3;
    @media (min-width: 992px) {
        font-size: $fs-h3-lg;
    }
}
h4 {
    font-size: $fs-h4;
    @media (min-width: 992px) {
        font-size: $fs-h4-lg;
    }
}
h5 {
    font-size: $fs-h5;
    font-weight: 400;
    @media (min-width: 992px) {
        font-size: $fs-h5-lg;
    }
}
p, li {
    font-size: $fs-p;
    color: #222222;
    @media (min-width: 992px) {
        font-size: $fs-p-lg;
    }
}
.list-links {
    padding: 0;
    li {
        display: block;
        list-style: none;
        background: url('../images/icons/arrow.png') no-repeat left 1px;
        padding-left: 30px;
        a {
            color: inherit;
            &:hover,&:active,&:focus {
                color: inherit;
            }
        }
    }
}

// Button
button, .button {
    border: none;
    border-radius: 5px;
    background-color: lighten($blue, 15%);
    padding: 10px 25px;
    text-transform: uppercase;
    color: white;
    transition: $transition;
    &:active, &:hover,&:focus {
        background-color: $blue;
    }
}

// Spacing
.spacer-md {
    margin-top: $spacer-md;
}

// Section
.section {
    padding: $spacer-xl 0;
    &+.section {
        padding-top: 0;
    }
}