header {
    position: absolute;
    width: 100%;
    @media (min-width: 992px) {
        position: absolute;
    }
    .logo {
        position: relative;
        display: inline-block;
        z-index: 22;
        img {
            height: 35px;
            width: auto;
            margin: 10px 15px;
            @media (min-width: 992px) {
                height: 65px;
                margin: $header-spacer-v $header-spacer-h;
            }
        }
    }
    nav {        
        position: absolute;
        display: inline-block;
        width: 100%;
        left: 0;
        z-index: 44;
        @media (min-width: 992px) {
            right: 0;
            bottom: 0;
        }
        
        #nav__toggle {
            position: absolute;
            right: 0;
            margin: 11px 15px;
            height: 30px;
            width: 30px;
            display: block; 
            &:before {
                content: "";
                position: absolute;
                right: 5px;
                top: 5px;
                width: 24px;
                height: 5px;
                background: white;
                box-shadow: 0 9px 0 0 white, 0 18px 0 0 white;
            }
            @media (min-width: 992px) {
                display: none;
            }
        }
        #nav__content {
            position: absolute;
            top: 55px;
            right: 0;
            max-height: 0;
            width: 100%;
            padding: ($header-spacer-v - $spacer-xs) ($header-spacer-h - $spacer-xs);
            overflow: hidden;
            transition: all 0.3s ease;
            transform: scaleY(0);
            transform-origin: top;
            background-color: white;
            z-index: 666666;
            &.active {
                height: 100vh;
                max-height: 100vh;
                transform: scaleY(1);
                background-color: rgba(white, 0.9);
            }
            @media (min-width: 992px) {
                position: initial;
                display: block;
                max-height: initial;
                max-width: initial;
                transform: scaleY(1);
                text-align: right;
                background-color: initial;
                color: white;
            }
        }
        .nav__item {
            display: block;
            margin: $spacer-xs;
            color: black;
            font-size: 17px;
            border-bottom: 3px transparent solid;
            transition: $transition;
            @media (min-width: 992px) {
                font-size: 21px;
                color: white;
                display: inline-block;                
                &:hover {
                    border-color: white;
                    color: white;
                }
            }
        }
    }
}
