.tiles {
    display: flex;
    .tile {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        overflow: hidden;
        &:hover,&:active,&:focus {
            cursor: pointer;
            .tile__content {
                opacity: 1;
            }
        }
        @media (min-width: 992px) {
            &__content {
                opacity: 0;
            }            
        }
        &__content {
            position: relative;
            padding: $spacer-xl;
            transition: $transition;
            background-color: rgba(0,0,0,0.5);
            color: white;
            text-shadow: 0 0 15px black;
            @media (min-width: 992px) {
                background-color: $lobster;
                text-shadow: none;           
            }
            .date {
                color: rgba(white, 0.7);
            }
        }
    }
}